/* tables */
table {	
	border-collapse: collapse;
	border-width: 5px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 5px;
}

tr {
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

td {
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
  /* text-align: justify; */
}

/* page agenda */
.debut {background-color:blue;}
.fin {background-color:#bf2b2f;}
	
/* page suivis */
.conclu,.conclubis,.resumesem,.resumemois { 
	background-color:  rgb(218, 189, 186);
	color: #000;
}


.titre { font-weight: bold; background-color: purple;}


/* tri de tables */
#trier { background-color:white; color:black; border-collapse:collapse; BORDER:white 1px solid; FONT:12 Arial; TEXT-ALIGN:center }
#trier TR		{ background-color:#ffefd5 }
#trier .title	{ background-color:#bf2b2f; FONT:14 Arial; color:#ffffff; font-weight:bold }
SPAN { FONT:bold 12 Arial; CURSOR:pointer }
#trier TD{ BORDER:white 1px solid; }

/* ----------------------------------------------- */
/* menu */
#menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
}
#menu li {
	float:left;
	margin:auto;
	padding:0;
	background-color:grey;
}
#menu li a {
	display:block;
	width:90px;
	color:white;
	text-decoration:none;
	padding:5px;
}
#menu li a:hover {
	color:#FFD700;
}

#menu ul li ul {
	display:none;
}

#menu ul li:hover ul {
	display:block;
}
#menu li:hover ul li {
	float:none;
}

#menu li ul {
	position:absolute;
}
