/* debut fin de page */
.sommaire {font-size: 15px; background-color: #ffefd5;}
.sommaire a:hover {color: #bf2b2f;}
.footer {background-color: #bf2b2f;}

/* tables */
table {
	/* width:100%; */
	border-collapse: collapse;
	border-width: 5px;
	border-style: solid;
	border-color: #000;
	/* margin: 5px; */
	border-width: 5px;
	/* margin: auto; */
}

tr {
	border-width: 1px;
	border-style: solid;
	border-color: #000;

}

td {
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
  	 /* font-size: 12px;  */
  /* text-align: justify; */
}

/* page agenda */
.debut {background-color: yellow;}
.fin {background-color: rgb(111, 214, 111);}
	
/* page suivis */
.date { background-color:  rgb(237, 237, 250); }
.conclu { background-color:  rgb(227, 227, 252); }
.conclubis { background-color:  rgb(227, 227, 252); }
.resumesem { background-color:  rgb(227, 227, 252); }
.resumemois { background-color: rgb(227, 227, 252); }


.titre { font-weight: bold; background-color: aquamarine;}



/* tri de tables */
#trier { background-color:white; color:black; border-collapse:collapse; BORDER:white 1px solid; FONT:12 Arial; TEXT-ALIGN:center }
#trier TR		{ background-color:#ffefd5 }
#trier .title	{ background-color:#bf2b2f; FONT:14 Arial; color:#ffffff; font-weight:bold }
SPAN { FONT:bold 12 Arial; CURSOR:pointer }
BODY { background-color: whitesmoke }  
#trier TD		{ BORDER:white 1px solid; }

/* BODY :not(.footer){background-color: whitesmoke} */
#menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
}
#menu li {
	float:left;
	margin:auto;
	padding:0;
	background-color:grey;
}
#menu li a {
	display:block;
	width:100px;
	color:white;
	text-decoration:none;
	padding:5px;
}
#menu li a:hover {
	color:#FFD700;
}

#menu ul li ul {
	display:none;
}

#menu ul li:hover ul {
	display:block;
}
#menu li:hover ul li {
	float:none;
}

#menu li ul {
	position:absolute;
}