**\*.jpeg
**\*.png
*.png
*.jpeg
blame
log
!wordcloud/*.png
run.R
run.bat
render.R

.Rproj.user
ugo/ldavis_prepared_4.html
freq_apercuAll.txt
freq_code.txt
freq_wordle.txt

idea/modules/*
ajout/.gradle/*/*
ajout/.gradle/*
ajout/*.gradle
idea/*