/*  */
table {
	border-collapse: collapse;
	border-width: 5px;
	border-style: solid;
	border-color: #000;
	margin: 5px;
	border-width: 5px;
	margin: auto;
}

tr {
	border-width: 1px;
	border-style: solid;
	border-color: #000;

}

td {
	border-width: 1px;
	border-style: solid;
	border-color: #000;
  	font-size: 12px;
  /* text-align: justify; */
}
.date { background-color: ghostwhite; }
.conclu { background-color: ghostwhite; }
.conclubis { background-color: ghostwhite; }
.resumesem { background-color: ghostwhite; }
.resumemois { background-color: ghostwhite; }
.titre { font-weight: bold;}
.sommaire {font-size: 15px;}
.sommaire :hover {color: #bf2b2f;}

/*  */
#trier { background-color:white; color:black; border-collapse:collapse; BORDER:white 1px solid; FONT:12 Arial; TEXT-ALIGN:center }
#trier TR		{ background-color:#ffefd5 }
#trier .title	{ background-color:#bf2b2f; FONT:14 Arial; color:#ffffff; font-weight:bold }
SPAN { FONT:bold 12 Arial; CURSOR:pointer }
/* BODY { background-color:#FFF5E5 } */
#trier TD		{ BORDER:white 1px solid; }



